# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

# Ignore obsidian configs this doesn't have to be done and if your sharing your repo this is handy to let others auto config 
# there obsidian instance with the configs and shortcuts you have already setup.
# Im ignoring so this is not out on the internet bc remember your repo is public.
.obsidian
